@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* reset css (tirar as margens e padding automáticos): */
* {
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Mukta', arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 22, 66);
  font-size: 14px;
  height: 100vh;
}

header {
  background-image: url(../img/hacks.gif);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

@media (min-width: 450px) {
  body {
    font-size: 16px;
  }

  header {
    height: 80vh;
  }

  .sobre .avatar {
    float: right;
    margin-left: 1.5em;
  }
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 2.3em;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: rgba(18, 50, 153, 0.83);
  display: block;
  padding: 5px 10px;
}

.menu a:hover {
  text-decoration: underline;
}

.menu i {
  color: rgba(18, 50, 153, 0.83);
}

.icons,
.site-title,
.site-subtitle {
  text-align: center;
}

.site-title {
  font-family: 'Oswald', sans-serif;
  font-size: 2.7em;
}

.sobre,
.projetos {
  min-height: calc(70vh - 20px);
  padding: 1.8em;
}

.sobre p {
  text-align: justify;
}

.sobre h2,
.contato h2,
.projetos h2 {
  margin-bottom: .6em;
}

.projetos .grid {
  display: grid;
  gap: 2.5em;
  grid-template-columns: 240px;
  min-height: calc(50vh - 3.6em - 20px);
  justify-content: center;
}

@media (min-width: 630px) {
  body {
    font-size: 19px;
  }

  .projetos .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 900px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    min-height: calc(70vh - 8em - 20px)
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.img-projetos {
  border-radius: 4px;
  height: 210px;
  width: 100%;
  object-fit: cover;
}

.flip-card {
  justify-content: center;
  height: 210px;
  max-width: 240px;
  perspective: 500px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform .8s;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
} 

.card-back {
  background-color: rgba(159, 17, 202, 0.986);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 210px;
  width: 100%;
  line-height: 120%;
  padding: 1em;
  text-align: center;
  transform: rotateY(180deg)
}

.sobre .avatar img {
  height: 14em;
  width: 14em;
  border-radius: 5%;
}

.contato {
  min-height: 34vh;
  padding: 1.8em;
}

.contato a {
  font-family: monospace;
  font-size: 4.3em;
  transition: opacity 200ms;
}

.contato a:active,
.contato a:hover {
  opacity: .75;
}
